
<p>
    @Server.Name is in @Server.City that is <span style="color:@(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")</span>
</p>

@code {
    private Server Server = new Server
    {
        Name = "Server 1",
        City = "Toronto"
    };
}
